.navbar {
  background-color: whitesmoke;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar .navbar-brand {
  padding-left: 15px;
}
.navbar .logo-text-skyblue {
  color: var(--skyblue-color);
}
.navbar .nav-info-text {
  font-size: var(--font-small);
  color: var(--grey-color);
}
.navbar .nav-info-text.nav-info-text-name {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}
.navbar .nav-info-icons-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--skyblue-color);
  font-size: 40px;
}
.navbar .navbar-nav {
  margin: auto;
}
.navbar .navbar-nav .nav-link {
  padding: 19px 18px;
  margin: 0 6px;
  font-size: 16px;
  padding-bottom: 10px;
  margin-top: 15px;
}
.navbar .navbar-nav .nav-link.active {
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}

.main-section {
  margin-top: 80px;
}
.main-section .summary-left-pane {
  background-color: var(--white-color);
  padding: 17px;
  border-radius: 25px;
}
.main-section .summary-left-pane .card {
  border: none;
  background-color: var(--white-color);
}
.main-section .summary-left-pane .card.active {
  background-color: rgba(194, 209, 220, 0.2);
  border-radius: 25px;
}
.main-section .summary-left-pane .card.active .card-header {
  border-bottom: 1px solid var(--grey-light-color);
}
.main-section .summary-left-pane .card .card-header {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0.75rem 1.25rem;
  padding-bottom: 0.6rem;
  border-bottom: none;
}
.main-section .summary-left-pane .card .card-header .panel-title {
  display: flex;
  justify-content: space-between;
}
.main-section .summary-left-pane .card .card-header .panel-title .card-header-title {
  font-weight: bold;
  color: var(--grey-dark-color);
}
.main-section .summary-left-pane .card .card-header .panel-title .card-header-title .panel-tilte-icon {
  color: var(--grey-dark-color);
}
.main-section .summary-right-pane {
  background-color: var(--white-color);
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  font-size: var(--font-small);
}
.main-section .summary-right-pane .date {
  display: flex;
  color: var(--grey-dark-color);
  padding-top: 10px;
  padding-left: 15px;
}
.main-section .summary-right-pane .locationBtn {
  display: flex;
  color: var(--grey-dark-color);
  padding-left: 15px;
}
.main-section .summary-right-pane .locationBtn .location-tilte {
  padding-left: 6px;
  margin-top: -3px;
}
.main-section .summary-right-pane .arrowAndamount {
  font-size: var(--font-large);
  color: var(--pink-color);
  padding-right: 119px;
  padding-top: 2px;
}
.main-section .summary-right-pane .arrowAndamount .amount {
  font-size: var(--font-xlarge);
  color: var(--pink-color);
  margin-left: 4px;
  margin-top: 7px;
}
.main-section .summary-right-pane .words {
  display: flex;
  color: var(--grey-color);
  font-size: var(--font-micro);
  padding-top: 14px;
  padding-left: 10px;
}
.main-section .summary-right-pane .syringe-icon {
  top: 20px;
  position: absolute;
  right: 50px;
  font-size: 35px;
  color: var(--grey-light-color);
}
.main-section .corona-info-count-wrapper {
  background-color: var(--white-color);
  border-radius: 25px;
  text-align: center;
  padding: 30px;
}
.main-section .corona-info-count-wrapper .corona-info-count-title {
  font-size: var(--font-regular);
  color: var(--grey-color);
}
.main-section .corona-info-count-wrapper .corona-color-pink {
  color: var(--pink-color);
  font-size: var(--font-xlarge);
}
.main-section .corona-info-count-wrapper .corona-color-pink.badge-color-pink {
  background-color: #FDEEF1;
  font-size: var(--font-regular);
}
.main-section .corona-info-count-wrapper .corona-color-pink .corona-info-up-down-count {
  margin-left: 3px;
}
.main-section .corona-info-count-wrapper .corona-color-grey {
  color: #4c4d52;
  font-size: var(--font-xlarge);
}
.main-section .corona-info-count-wrapper .corona-color-grey.badge-color-grey {
  background-color: #E3E3E3;
  font-size: var(--font-regular);
}
.main-section .corona-info-count-wrapper .corona-color-grey .corona-info-up-down-count {
  margin-left: 3px;
}
.main-section .corona-info-chart-wrapper {
  background-color: whitesmoke;
  border-radius: 25px;
  text-align: center;
  padding: 40px;
  margin-top: 20px;
}
.main-section .corona-info-chart-wrapper .corona-info-chart-title {
  color: black;
  font-size: 15px;
  font-weight: bold;
}
.main-section .corona-info-chart-wrapper .piediv {
  width: 100%;
  height: 200px;
}
.main-section .corona-info-chart-wrapper .linediv {
  width: 100%;
  height: 200px;
}
.main-section .corona-info-chart-wrapper .bardiv {
  width: 100%;
  height: 200px;
}
.main-section .corona-info-chart-wrapper .sidobarDiv {
  width: 100%;
  height: 200px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -5px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: var(--truewhite-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input.primary-confirmed:checked + .slider {
  background-color: #2196F3;
}

input.primary-keep-distance:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.logo-title-wrapper {
  margin-top: 110px;
  text-align: center;
}
.logo-title-wrapper .logo-title {
  font-size: var(--font-xxlarge);
}
.logo-title-wrapper .logo-title .logo-text-skyblue {
  color: var(--skyblue-color);
}

.login-section {
  margin-top: 60px;
}
.login-section .login-card-wrapper {
  margin: auto;
  border-radius: 25px;
  background-color: var(--white-color);
}
.login-section .login-card-wrapper .login-input-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
}
.login-section .login-card-wrapper .login-input-wrapper .form-group .login-title {
  font-size: var(--font-large);
  color: var(--grey-dark-color);
}
.login-section .login-card-wrapper .login-input-wrapper .form-group .form-control {
  margin-top: 30px;
  padding-left: 10px;
}
.login-section .login-card-wrapper .login-input-wrapper .btn {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 35px;
}

.loginfindAndjoin {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  list-style: none;
}
.loginfindAndjoin .li {
  padding-right: 8px;
}

:root {
  /*Color*/
  --grey-color:#5C6366;
  --grey-light-color:#BFBFBF;
  --grey-dark-color: #262626;
  --white-color:#F5F5F5;
  --truewhite-color:#ffffff;
  --skyblue-color:#C2D1DC;
  --blue-color:#2196F3;
  --pink-color:#eb5374;
  /* Font Size */
  --font-xxlarge:40px;
  --font-xlarge:30px;
  --font-large: 20px;
  --font-regular: 16px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

body {
  padding: 0;
  background-color: rgba(194, 209, 220, 0.4);
}
body .body-wrapper {
  margin-left: 60px;
  margin-right: 60px;
}
body .rotated180 {
  transform: rotate(180deg);
}

@media (min-width: 992px) {
  .col-lg-2dot5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 992px) {
  .col-lg-9dot5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
  }
}

/*# sourceMappingURL=app.css.map */
