.logo-title-wrapper{
	margin-top:110px;
	text-align: center;
	.logo-title{
		font-size: var(--font-xxlarge);
		font-weight: bold;
		.logo-text-skyblue{
			color: var(--logo-color); 
			font-weight: bold;
		}
	}
}

.join-section {
	margin-top : 60px;
	.join-card-wrapper {
		margin:auto;
		margin-bottom: 80px;
		border-radius: 25px;
		background-color: var(--white-color);
		
		.join-input-wrapper {
			padding-left:30px;
			padding-right:30px;
			margin:35px 0px;

			.form-group{
				.id_ok{color:blue; display: none;}
				.id_already{color:red; display: none;}
				.id_size{color:red; display:none;}
				.date-over{color:red; display:none;}
				.date-formatError{color:red; display:none;}
			
			}
		    
		.join-icons{
			position: relative;
    		left: 7px;
    		top: 7px;
		i{
			padding-right: 2px;
		}

		}	
		.btn{
			width: 49%;
			margin-top: 5px;
			margin-left: 1px;
		}
		
		}
	}

}

