.logo-title-wrapper{
	margin-top:110px;
	text-align: center;
	.logo-title{
		font-size: var(--font-xxlarge);
		font-weight: bold;
		.logo-text-skyblue{
			color: var(--logo-color); 
			font-weight: bold;
		}
	}
}
.login-section{
	margin-top:60px;
	.login-card-wrapper{
		margin:auto;
		border-radius: 25px;
		background-color: var(--white-color);
		.login-input-wrapper{
			padding-left:30px;
			padding-right:30px;
			margin: 34px 0px;
			.form-group{
				.login-title{
					font-size: var(--font-large);
					color: var(--grey-dark-color);
				}
				.form-control{
					margin-top:30px;
					padding-left:10px;
				}
			}
			.btn{
				width:100%;
			    margin: 15px 0;
			}
		}
	}
}
.loginfindAndjoin{
	display:flex;
	justify-content: center;
	padding-top:30px;
	padding-left:0;
	list-style: none;
	li{
		padding-right: 8px;
	}
}
