.login-section{
	margin-top: 160px;
	.login-card-wrapper{
		margin:auto;
		background-color: var(--white-color);
		.logo-title-wrapper{
			text-align: center;
			margin-top:30px;
			.logo-title{
				font-size: var(--font-xlarge);
				.logo-text-skyblue{
					color:var(--skyblue-color);
				}
			}
		}
		.login-input-wrapper{
			margin-top:60px;
		}
	}
	
}
