.main-section{
	margin-top:80px;
	.summary-left-pane{
		background-color: var(--white-color);
		padding:17px;
		border-radius: 25px;
		.card{
			border:none;
			background-color: var(--white-color);
			
			
			&.active{
				background-color: rgba(194,209,220,0.2);
				border-radius: 25px;
				
				.card-header {
				    border-bottom: 1px solid var(--grey-light-color);
				    
				    .panel-title {
				    	display : flex;
				    	justify-content : space-between;
				    	
				    	.arrow-icon {
				    		transform : rotate(180deg);
				    	}
				    }
				}
				
			}
			
			.card-header {
			    background-color: rgba(0,0,0,0);		
		        padding: 0;
			    margin: .75rem 1.25rem;
			    padding-bottom: 0.60rem;	  
			    border-bottom: none;  
			    .panel-title{
					display:flex;
					justify-content: space-between;
					.card-header-title{
						font-weight: bold;
						color: var(--grey-dark-color);
						.panel-tilte-icon{
							color: var(--grey-dark-color);
						}
					}
				
				}
			}
		}
	}
	
	.summary-right-pane{
		background-color: var(--white-color);
		border-radius: 25px;
		text-align: center;
		padding:10px;
		font-size: var(--font-small);
		.date{
			display:flex;
			color:var(--grey-dark-color);
			padding-top:10px;
			padding-left:15px;
		}
		.locationBtn{
			display:flex;
			color:var(--grey-dark-color);
			padding-left:15px;
			.location-tilte{
				padding-left: 6px;
				margin-top:-3px;
			}
		}
		.arrowAndamount{
			font-size: var(--font-large);
			color:var(--pink-color);
			padding-right:119px;
			padding-top:2px;
		.amount{
			font-size: var(--font-xlarge);
			color:var(--pink-color);
			margin-left:4px;
			margin-top:7px;		
			}
		}
		.words{
			display:flex;
			color:var(--grey-color);
			font-size: var(--font-micro);
			padding-top:14px;
			padding-left:10px;
		}
		.syringe-icon{
			top: 20px;
		    position: absolute;
		    right: 50px;
		    font-size: 35px;
		    color: var(--grey-light-color);
		}
	}
	
	.corona-info-count-wrapper{
		background-color: var(--white-color);
		border-radius: 25px;
		text-align: center;
		padding: 30px;
		.corona-info-count-title{
			font-size:var(--font-regular);
			color:var(--grey-color);
			
		}
		.corona-color-pink{
			color: var(--pink-color);
			font-size: var(--font-xlarge);
			
			&.badge-color-pink{
				background-color: #FDEEF1; 
				font-size: var(--font-regular);
			}
			
			.corona-info-up-down-count{
				margin-left: 3px;
			}
			
		
		}
		.corona-color-grey{
			color:#4c4d52;
			font-size: var(--font-xlarge);
			
			&.badge-color-grey{
				background-color: #E3E3E3;
				font-size: var(--font-regular);
			}
			
			.corona-info-up-down-count{
				margin-left: 3px;
			}
		}
	}
	
	.corona-info-chart-wrapper {
		background-color:rgb(245,245,245);
		border-radius: 25px;
		text-align: center;
		padding: 40px;
		margin-top :20px;
		
		.corona-info-chart-title {
			color : black;
			font-size : 15px;
			font-weight : bold;
		}
		
		.chartdiv {
			width: 80%;
		    margin: auto;
		    height: 300px;
		}
		
		.piediv {
			width : 100%;
			height : 200px;

		}

		.linediv {
			width : 100%;
			height : 200px;
		}
		
		.bardiv {
			width : 100%;
			height : 200px;
		}
		
		.sidobarDiv {
			width :100%;
			height : 200px;
		}
	}
	
}



