.navbar{
	background-color: rgb(245,245,245);
	padding-top:0;
	padding-bottom: 0;
	.navbar-brand{
		padding-left: 15px;
		font-weight: bold;
	}
	.logo-text-skyblue{
		color: var(--logo-color);
	}
		.nav-info-text{
		font-size: var(--font-small);
		color: var(--grey-color);
	
		
		&.nav-info-text-name{
			font-size: var(--font-small);
			color: var(--grey-dark-color);
		}
	}
	.nav-info-icons-wrapper{
		display:flex;
		padding-top:5px;
		align-items:center;
		height: 100%;
		color:var(--skyblue-color);
		font-size:40px;
	}
	.navbar-nav{
		margin:auto;
		
		.nav-link{
			padding:19px 18px;
			margin: 0 6px;
			font-size:16px;
			padding-bottom:10px;
			margin-top:15px;
			&.active{
				border-bottom: 2px solid rgba(0,0,0,.7);
				
			}
		}
	}
	
}
