.search-main{  
	.map{
		background-color: var(--white-color);
		padding:30px;
		margin-top: 50px;
		border-radius: 25px;
	}
	.form-control{
		background-color: var(--truewhite-color);
		border:none;
		border-radius: 0 !important;
		.search-icon{
			position: absolute;
			right:30px;
		}
	}
	.hospital-list{
		padding-top:25px;
		padding-bottom: 30px;
		padding-left: 20px;
		padding-right: 8px;
		margin-top:50px;
		width: 100%;
		background-color: var(--white-color);
		border-radius: 25px;
		@media (min-width: 768px) {
			padding-left: 30px;
			padding-right: 30px;
			margin-left: 15px;
			margin-right: 15px;
		}
			.hospital-list-title{
				color: var(--grey-dark-color);
			}
			.input-group{
				margin-top:15px;
				.input-group-text{
					border-radius: 0px;
					background:none;
					background-color: var(--truewhite-color);
					margin-right: 37px;
				}
			}
			.list-group {
				max-height: 500px;
				overflow-y: scroll;
				margin-top: 20px;
				.covid-hospital-list-wrapper{
					margin-right:20px;
				}
				
				.list-group-item{
					padding-top:10px; 
					padding-bottom: 15px;
					padding-right: 17px;
					padding-left: 40px;
					margin-top:15px;
					border-radius: 25px;
					background-color:rgba(194,209,220,0.2);
					border:none;
					font-size:13px;
					&.active{
					background-color: var(--blue-color);
					}	
						.hospital-title{
							margin-top:10px;
							display:flex;
							justify-content: space-between;
							margin-left: 21px;
							font-size: var(--font-large);
						}
						.hospital-info{
							font-size: var(--font-small);
							margin-left: 21px;
						}
						.hospital-icon{
							position: absolute;
							top:23px;
							left: 20px;
							font-size: 30px;
						}	
					}
				}
			}
		
			
		}