
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  float:right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -5px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: var(--truewhite-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input.primary-confirmed:checked + .slider {
  background-color: #2196F3;
}

input.primary-keep-distance:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
	
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}