.vaccine-main {

	margin-top:80px;
	
	.summary-left-pane {
		background-color : var(--white-color);
		padding:17px;
		border-radius : 25px;
		
		.card {
			border : none;
			background-color : var(--white-color);
			
			.card-header {
				background-color:rgba(0,0,0,0);
				padding : 0;
				margin : .75rem 1.25rem;
				padding-bottom :0.60rem;
				border-bottom : none;
				
				.panel-title {
					display : flex;
					justify-content : space-between;
					
					.card-header-title {
						font-weight : bold;
						color : var(--grey-dark-color);
						
						.panel-title-icon {
							color : var(--grey-dark-color);
						}
					}
				}
			}
		}
	}
	.vaccine-info-count-wrapper {
		background-color:rgb(245,245,245);
		border-radius : 25px;
		text-align : center;
		padding : 30px;
		
		.vaccine-info-count-title {
			color : black;
			font-size : var(--font-regular);
		}
	}
	
	.vaccine-info-graph-wrapper {
		background-color:rgb(245,245,245);
		border-radius : 25px;
	}

}