.vaccine-main {
	margin-top:80px;
	
	.summary-left-pane {
		background-color : var(--white-color);
		padding:17px;
		border-radius : 25px;
		
		.card {
			border : none;
			background-color : var(--white-color);
			
			&.active {
			background-color:rgba(194,209,220,0.2);
			border-radius :25px;
			
				.card-header {
					border-bottom : 1px solid var(--grey-light-color);
					
					.panel-title {
						display : flex;
						justify-content : space-between;
					
						.arrow-icon {
							transform : rotate(180deg);
						}
					}
				}
				
			}
			
			.card-header {
				background-color:rgba(0,0,0,0);
				padding : 0;
				margin : .75rem 1.25rem;
				padding-bottom :0.60rem;
				border-bottom : none;
				
				.panel-title {
					display : flex;
					justify-content : space-between;
					
					.card-header-title {
						font-weight : bold;
						color : var(--grey-dark-color);
						
						.panel-title-icon {
							color : var(--grey-dark-color);
						}
					}
				}
			}
		}
	}
	.vaccine-info-count-wrapper {
		background-color:var(--white-color);
		border-radius : 25px;
		text-align : center;
		padding : 30px;

		@media (max-width: 992px) {
			margin-bottom: 15px;
		}
		
		
		.vaccine-info-count-title {
			color : var(--grey-dark-color);
			font-size:var(--font-regular);
			
		}
		
		.vaccine-color-gray {
			color : var(--grey-light-color);
			font-size:var(--font-xlarge);
			
			&.vaccine-color-blue {
				background-color :#E3E3E3;
				font-size:var(--font-regular);
			}
		}
	}
	
	.location-collection {
		background-color : var(--white-color);
		border-radius : 25px;
		padding : 30px;
		margin-top : 20px;
		text-align : center;
		margin-left: 0px;
    	margin-right: 0px;
		
		.location-collection-title {
			
			color : black;
			font-weight : bold;
			font-size : var(--font-regular);
		}
		.location-chart-wrapper {
			background-color : white;
			border-radius : 25px;
			border: 1px lightblue solid;
			margin-top : 30px;
			
			.data-location-chart {

				height : 300px;
				margin-top:50px;
			}
			.nav-tabs {
				border-bottom: none;
			}
		}
		
	}
	
	.vaccine-chart-count-wrapper {
		background-color:var(--white-color);
		border-radius : 25px;
		text-align : center;
		padding : 30px;
		margin-top : 20px;
			
		height : 500px;
		
		.vaccine-chart-count-title {
			color : black;
			font-size : var(--font-regular);
			font-weight:bold;

		}
		.vaccineAllChart {
				width : 100%;
				height : 350px;
				margin-top:50px;
			}
	}
	
	.vaccine-info-wrapper {
		background-color:var(--white-color);
		border-radius : 25px;
		text-align : center;
		padding : 30px;
		margin-top : 20px;	
		
		
		.vaccine-info-nav {
			background-color : #d3d3d3;
			border-radius : 20px;
			
			.vaccine-info-link-color {
	
    			color: black;
    			
    			&:hover {
    				border-style:hidden;
    			}
    			
    			&.active{
					font-weight : bold;
					border-radius : 20px;
				}
				
			}
			
		}
		
	}
	
	.content {
		position : relative;
		display: block;
    	transform: translate(-75px,-10px);
    	
		.btn-light:hover {
			background-color:transparent;
			border : none;
		}
		.btn-light {
			background-color:transparent;
			border : none;
			padding-top : 5px;
			padding-bottom:5px;
			padding-left :10px;
			padding-right : 10px;
			line-height: 15px;
			
			.location-info-count {
				font-size : var(--font-medium);
				color : red;
				font-weight : bold;
			}
			
			.location-info-title {
				font-size : var(--font-small);
				font-weight : bold;
			
			}
			
			.location-info-def {
				font-size : var(--font-micro);
				font-weight:bold;
			}
			
			&.active {
				background-color:gray;
				
				.location-info-count {
					font-size : var(--font-medium);
					color : white;
					font-weight : bold;
				}
				
				.location-info-title {
					font-size : var(--font-small);
					font-weight : bold;
					color:white;
				
				}
				
				.location-info-def {
					font-size : var(--font-micro);
					font-weight:bold;
					color:white;
				}
			}
		}
	
		.seoul-info-box {
			position:absolute;
			z-index:1;
			background-color: #ffffff;		
			border-radius: 5px;
			
			top:290px;
			left:155px;	
			
		}
		
		.incheon-info-box {
			position:absolute;
			z-index:1;
			background-color: #ffffff;
			
			border-radius: 5px;
			
			top:240px;
			left:80px;
		}
		.gyeongi-info-box {
			position:absolute;
			z-index:1;
			background-color: #ffffff;
			
			border-radius: 5px;
			
			top:190px;
			left:150px;
		}
		.gangwon-info-box {
			position:absolute;
			z-index:1;
			background-color: #ffffff;
			
			border-radius: 5px;
			
			top:245px;
			left:255px;
		}
		.chungbuk-info-box {
			position:absolute;
			z-index:1;
			background-color: #ffffff;
			
			border-radius: 5px;
			
			top:350px;
			left:225px;
		}
		.chungnam-info-box {
			position:absolute;
			z-index:1;
			background-color: #ffffff;
			
			border-radius: 5px;
			
			top:360px;
			left:70px;
		}
		.sejong-info-box {
			position:absolute;
			z-index:1;
			background-color: #ffffff;
			
			border-radius: 5px;
			
			top:365px;
			left:150px;
		}
		.gyeongbuk-info-box {
			position:absolute;
			z-index:1;
			background-color: #ffffff;
			
			border-radius: 5px;
			
			top:370px;
			left:310px;
		}
		.jeonbuk-info-box {
			position:absolute;
			z-index:1;
			background-color: #ffffff;
			
			border-radius: 5px;
			
			top:475px;
			left:100px;
		}
		.daejeon-info-box {
			position:absolute;
			z-index:1;
			background-color: #ffffff;
			
			border-radius: 5px;
			
			top:440px;
			left:175px;
		}
		.daegu-info-box {
			position:absolute;
			z-index:1;
			background-color: #ffffff;
			
			border-radius: 5px;
			
			top:460px;
			left:275px;
		}
		.ulsan-info-box {
			position:absolute;
			z-index:1;
			background-color: #ffffff;
			
			border-radius: 5px;
			
			top:490px;
			left:345px;
		}
		.busan-info-box {
			position:absolute;
			z-index:1;
			background-color: #ffffff;
			
			border-radius: 5px;
			
			top:560px;
			left:320px;
		}
		.gwangju-info-box {
			position:absolute;
			z-index:1;
			background-color: #ffffff;
			
			border-radius: 5px;
			
			top:540px;
			left:135px;
		}
		.jeonnam-info-box {
			position:absolute;
			z-index:1;
			background-color: #ffffff;
			
			border-radius: 5px;
			
			top:585px;
			left:70px;
		}
		.gyeongnam-info-box {
			position:absolute;
			z-index:1;
			background-color: #ffffff;
			
			border-radius: 5px;
			
			top:535px;
			left:235px;
		}
		
		.jeju-info-box {
			position:absolute;
			z-index:1;
			background-color: #ffffff;
		
			border-radius: 5px;
			
			top:730px;
			left:90px;
		}
		
		.city-info-box {
			position:absolute;
			z-index:1;
			background-color: transparent;	
			border-radius: 5px;		
			top:85px;
			left:75px;
			
			.city-info-name {
				font-size : var(--font-large);
				color : blue;
			}
			
			.city-info-text {
				font-size : var(--font-large);
				color : black;
			}
			
			.city-current-text {
				font-size : var(--font-medium);
				color : black;
			}
			
			
		}
		
	}
	
	.summary-right-pane {
		
		border-radius : 25px;
		height : 150px;
		
		position : relative;
		justify-content : center;
		display : flex;
		
		.vaccine-percent-chart {
			margin : auto;
		}
		
		.vaccine-percent-text {
			position : absolute;
			left : 50%;
			top : 50%;
			font-size : var(--font-large);
			transform : translate(-42%, -10%);
			
			color : black;
		}
		
		.vaccine-complete-text {
			position : absolute;
			left:50%;
			top:50%;
			font-size : var(--font-regular);
			font-weight : bold;
			transform: translate(-50%,-125%);
		}
		
		.vaccine-percent-text:after {
			content : '%';
		}
	}
	

}

.table-borderless {
	margin-top : 30px;
	background-color : white;
	border-radius : 25px;
}

.table-borderless td{
   	border : none;
   	width : 50%;	
}

.td-text-left {
	text-align : left;
}


canvas {
	width:100%;
	height:100%;
}