<div class="col-lg-4 col-md-12">
    <div class="corona-info-chart-wrapper" id="{{type}}-chart-card">
        <span class="corona-info-chart-title">
            {{name}}
        </span><br>
        <div id="{{type}}-bar-chart"></div>
    </div>
</div>