<div class="col-4">
    <div class="corona-info-chart-wrapper">
        <span class="corona-info-chart-title">
            {{name}}
        </span><br>
        <div id="{{type}}-bar-chart"></div>
    </div>
</div>